<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script>

    </script>
</head>

<body>
    <video id="video" controls width="250"></video>
    <script>
        if (Hls.isSupported()) {
          var video = document.getElementById('video');
          var hls = new Hls();
          hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log('video and hls.js are now bound together !');
          });
          hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
            console.log(
              'manifest loaded, found ' + data.levels.length + ' quality level',
            );
          });
          hls.loadSource('../1.m3u8');
          // bind them together
          hls.attachMedia(video);
        }
    </script>
<!--    <video controls width="250">-->
<!--        <source src="../tiger.mp4" type="video/mp4">-->
<!--    </video>-->
    <h2>제목</h2>

</body>
</html>

